@import "../../stylesheets/common";
.product {
  .col-md-7, .col-md-5 {
    padding: 0;
  }
  .product__detail {
    @include padding(72px 75px 38px);
  }

  .product__image {
    width: 100%;
  }

  .product__title {
    font-size: rem(36);
    line-height: 48px;
    @include media("<=tablet") {
      @include position(absolute, -180px null null null);
    }
  }

  .product__kcal {
    font-size: rem(16);
    font-weight: bold;
    text-align: right;
    margin-top: 5px;

    strong {
      font-family: $font-montserrat;
    }
  }

  .product__foodInfo {
    background-color: $green-light-bg;
    border: 1px solid $green;
    @include border-radius(15px);
    @include margin(15px 0 25px);
    @include padding(15px 20px);
    font-size: rem(12);
    font-weight: bold;
    line-height: 18px;
    word-spacing: -4px;
  }

  .product__kcalLevel {
    border-bottom: 1px solid $lesser-gray;
    padding-bottom: 15px;
    .row {
      @include margin(10px -15px);
    }

    .product__title--small {
      font-size: rem(12);
      line-height: normal;
      color: $black-1;
    }

    .progress {
      border-radius: 0;
      max-height: 15px;
    }
  }
  .food-carousel {
    .food-carousel__title {
      font-size: rem(16);
      color: $gray;
      margin-top: 20px;

      .arrow-icon {
        display: inline-block;
        @include size(19px 18px);
        margin-left: 5px;
        background: url("../../assets/images/icons/icon-arrow-green.png") center no-repeat;
        vertical-align: middle;
      }
    }
  }
}
