@import '../../stylesheets/common';
$dashboard-max-width: 1040px;

.dashboard {
  @include media(">iphone6plus") {
    @include background-opacity($base-background-color, 0.1);
    padding: 32px 38px;
    min-height: 100vh;
  }
}

.dashboard .container {
  max-width: $dashboard-max-width;
}

.dashboard-tracking {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
  border-radius: 10px;
  background-color: $white;

  @include media(">big-phone") {
    display: flex;
  }
}
