@import '../../stylesheets/common';

.user-info {
  max-width: 260px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid rgba(159, 163, 167, .2);
}

.user-info__heading {
  display: flex;
  align-items: baseline;
}

.user-info__name {
  display: flex;
  align-items: center;
  margin-right: 16px;
  
  h2 {
    margin: 0;
    margin-right: 6px;
    font-size: ms(5);
  }

  img {
    width: 12px;
    height: 12px;    
  }
}

.user-info__edit {
  a {
    font-family: "Montserrat", $base-font-family;
    font-size: ms(-3);
    color: $black;
    text-transform: uppercase;
  }
}

.user-info__details {
  padding: 28px 0 20px;
}

