.search-box {
  position: relative;
  .form-group_border {
    border: 1px solid #f1f1f1;
    border-radius: 3px;
  }

  .hidden-xs-up {
    visibility: hidden;
  }

  .form-control, .btn {
    background-image: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
  }
  .btn {
    position: absolute;

    &:hover {
      background-color: transparent;
    }
  }
  .btn-default {
    top: -3px;
    right: 0;
  }
  .btn-search_default {
    top: 3px;
    right: 3px;
    &:focus, &:hover {
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
    .glyphicon-search {
      color: #a1a5a9;
    }
  }
}