/* Fonts */

// Malgun Gothic font face
// Normal 
@font-face {
  font-family: "Malgun Gothic";
  font-style: normal;
  font-weight: 400;
  src:  url(./assets/fonts/MalgunGothicRegular.eot) format("embedded-opentype"),
        url(./assets/fonts/MalgunGothicRegular.woff) format("woff"),
        url(./assets/fonts/MalgunGothicRegular.svg) format("svg"),
        url(./assets/fonts/MalgunGothicRegular.ttf) format("truetype");
}

// Bold
@font-face {
  font-family: "Malgun Gothic";
  font-style: normal;
  font-weight: 700;
  src:  url(./assets/fonts/MalgunGothicBold.eot) format("embedded-opentype"),
        url(./assets/fonts/MalgunGothicBold.woff) format("woff"),
        url(./assets/fonts/MalgunGothicBold.svg) format("svg"),
        url(./assets/fonts/MalgunGothicBold.ttf) format("truetype");
}

// Dotum font face
// Normal 
@font-face {
  font-family: "Dotum";
  font-style: normal;
  font-weight: 400;
  src:  url(./assets/fonts/Baekmuk-Dotum.eot) format("embedded-opentype"),
        url(./assets/fonts/Baekmuk-Dotum.woff) format("woff"),
        url(./assets/fonts/Baekmuk-Dotum.svg) format("svg"),
        url(./assets/fonts/Baekmuk-Dotum.ttf) format("truetype");
}

// Bold
@font-face {
  font-family: "Dotum";
  font-style: normal;
  font-weight: 700;
  src:  url(./assets/fonts/Baekmuk-Dotum.eot) format("embedded-opentype"),
        url(./assets/fonts/Baekmuk-Dotum.woff) format("woff"),
        url(./assets/fonts/Baekmuk-Dotum.svg) format("svg"),
        url(./assets/fonts/Baekmuk-Dotum.ttf) format("truetype");
}
