/* Fonts */

// Nanum Gothic font face
// Normal 
@font-face {
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: 400;
  src:  url(./assets/fonts/NanumGothic.eot) format("embedded-opentype"),
        url(./assets/fonts/NanumGothic.woff) format("woff"),
        url(./assets/fonts/NanumGothic.svg) format("svg"),
        url(./assets/fonts/NanumGothic.ttf) format("truetype");
}

// Bold 
@font-face {
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: 700;
  src:  url(./assets/fonts/NanumGothic-Bold.eot) format("embedded-opentype"),
        url(./assets/fonts/NanumGothic-Bold.woff) format("woff"),
        url(./assets/fonts/NanumGothic-Bold.svg) format("svg"),
        url(./assets/fonts/NanumGothic-Bold.ttf) format("truetype");
}

// Extra bold 
@font-face {
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: 900;
  src:  url(./assets/fonts/NanumGothic-ExtraBold.eot) format("embedded-opentype"),
        url(./assets/fonts/NanumGothic-ExtraBold.woff) format("woff"),
        url(./assets/fonts/NanumGothic-ExtraBold.svg) format("svg"),
        url(./assets/fonts/NanumGothic-ExtraBold.ttf) format("truetype");
}
