#nanum {
  font-size: 100%;
  box-sizing: inherit;
  min-height: inherit;
}

#nanum {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}
// delete contents min-height
#root.contents {
  min-height: initial;
}