$breakpoints: (
  'phone': 320px,
  'iphone6': 375px,
  'iphone6plus': 414px,
  'big-phone': 700px,
  'tablet': 768px,
  'netbook': 924px,
  'desktop': 1024px,
  'da': 1224px
);

$width-bound: 808px;

//Rhythm unit
$rhythm-unit: 2px;

// Typography
$base-font-family: "Nanum", 'Source Sans Pro', 'Arial', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 14px;
$base-letter-spacing: 0.1em;

// Line height
$base-line-height: 1.143;
$heading-line-height: 1;

// Other Sizes
$base-border-radius: 1px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white: #fff;
$white-gray: #f7f8f9;
$lesser-gray: #d0d2d3;
$light-gray: #b7bcc0;
$gray: #9fa3a7;
$dark-gray: #4c4c4c;
$black: #242424;
$green: #00c03c;
$red: #f65a41;
$yellow: #ffc80a;

// Font Colors
$base-font-color: $white;
$placeholder-color: #a1a5a9;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #2ea2f3;
$secondary-background-color: #f1f1f1;
$profile-edit-background: #e4f6f6;
