$breakpoints: (
        phone: 320px,
        iphone6: 375px,
        iphone6plus: 414px,
        big-phone: 700px,
        tablet: 768px,
        netbook: 924px,
        desktop: 1024px,
        da: 1224px
);

$breakpoints-desktop: 992px;
$breakpoints-tablet: 768px;
$breakpoints-phone: 480px;

$width-mq :(
        min: 'min-width',
        max: 'max-width'
);

$width-bound: 808px;

//Rhythm unit
$rhythm-unit: 2px;

// Typography
$base-font-family: "Nanum", 'Source Sans Pro', 'Arial', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 14px;
$base-letter-spacing: 0.1em;

// Line height
$base-line-height: 1.143;
$heading-line-height: 1;

// Other Sizes
$base-border-radius: 1px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white: white;
$black: black;
$white-gray: #f7f8f9;
$lesser-gray: #d0d2d3;
$light-gray: #b7bcc0;
$gray: #9fa3a7;
$dark-gray: #4c4c4c;
$black: #242424;
$green: #00c03c;
$red: #e34c4c;
$yellow: #ffc80a;
$color-green: #00c03c;


// Font Colors
$base-font-color: $white;
$placeholder-color: #a1a5a9;

// Border
// $base-border-color: $light-gray;
// $base-border: 1px solid $base-border-color;
$chatbox-border: #f3f1f2;
$message-border: rgba(76, 76, 76, 0.15);
//$message-border-user: rgba(0, 192, 60, 0.3);
$message-border-user: rgba(127, 213, 149, 1);
$message-border-user-arrow: rgba(0, 192, 60, 0.2);
$chat-box-input-border: #00c03c;
$chat-box-input-shadow: rgba(0, 192, 60, 0.15);

// Background Colors
$base-background-color: #d8d8d8;
$secondary-background-color: #f1f1f1;
$profile-edit-background: #e4f6f6;
$progress-bar-background: #e9eaec;
$chatbox-background: #f6f6f6;

