@import "../../stylesheets/common";

.home {
  background: url('../../assets/images/food-bg.jpg') center no-repeat;
  background-size: cover;

  .home-search {
    @include margin(167px null 330px 0);
  }

  .home-search__text {
    color: $white;
    font-size: rem(36);
  }
}
