@mixin side-padding {
  padding: 0 26px;
}

#nanum .add-food-form {
  legend {
    color: $green;
    font-size: 24px;
    font-weight: 700;
    border-bottom: none;
  }

  .btn.btn-default {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $green;
    background-image: none;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: $white;
    width: 100%;
    height: 50px;
  }

  .Select {
    margin: 0 12px 14px;
  }

  .Select-arrow-zone {
    display: none;
  }

  legend {
    @include side-padding;
  }
}

// Select field
#nanum .Select-control {
  border-radius: 4px;
  background-color: $white;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid $light-gray;
}

// selected food list
#nanum .food-option-list {
  max-height: 212px;
  overflow-y: scroll;
}

// selected food item
#nanum .food-option-item {
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 4px;
  @include side-padding;
  padding-top: 4px;
  padding-bottom: 4px;
  
  .media-heading {
    font-size: 16px;
    font-weight: 700;
  }

  .media-body p {
    font-size: 12px;
    color: $mid-gray;
  }

  .media-right p {
    font-size: 20px;
    color: $mid-gray;
    font-size: 16px;
  }
}

// media object override 
#nanum .food-option-item {
  .media-left, .media-body, .media-right {
    vertical-align: middle;
  }

  .media-right {
    display: table-cell;
    padding-left: 70px;
  }
}

#nanum.App--mobile .food-option-item .media-right {
  display: block;
}