$button-size: 30px;

.button--add-food {
  position: relative;
  padding-left: $button-size;

  // Reset style
  border: none;
  background-color: #fbfbfb;

  &:before {
    content: '+';
    position: absolute;
    font-size: ms(3);
    color: $green;
    line-height: 1.6;
    text-align: center;
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    border: 1px solid $green;
    background-color: rgba(0, 191, 60, .4);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.button--add-food span {
  padding-left: 14px;
  text-transform: uppercase;
  font-size: ms(-2);
}
  