#nanum .alert {
  position: absolute;
  display: flex;
  top: 64px;
  left: 0;
  padding: 18px 24px;
  width: 100%;
  margin-bottom: 0;

  p {
    display: inline-block;
    letter-spacing: normal;
  }

  .fa {
    margin-right: 12px;
  }

  @include media(">=desktop") {
    top: 0;
    padding: 16px 120px;
  }
}

#nanum .alert--danger {
  @include background-opacity($red, 0.05);

  .fa {
    color: $red;
  }
}