.api-key {
  background-color: #f5f5f5;
  padding: 34px 640px 45px 320px;
}

.api-key__title {
  font-size: 22px;
  font-weight: bold;
  color: #00c03c;
  letter-spacing: normal;
}

.api-key__sub-title {
  font-size: 22px;
  font-weight: bold;
  color: #878787;
  letter-spacing: normal;
}

.api-key__btn {
  background-color: #85d09c;
  border-radius: 3px;
  padding: 14px 14px 14px 14px;
  min-width: 320px;
  margin-bottom: 32px;
}

.api-key__item {
  padding: 14px 14px 14px 14px;
  background-color: #b7bcc0;
  border-radius: 3px;
  max-width: 320px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: normal;
}