#nanum {
  .section:not(.section-sm-shadow) {
    @include section-spacing;
  }
  
  .section--shadow {
    @include with-shadow;
  }
  
  .section--sm-shadow {
    @include with-shadow;
    @include section-spacing;
  }
}

#nanum.App--mobile {
  // ignore bs container padding
  margin: 0 -15px;
  padding: 0 15px;
  box-sizing: content-box;
  
  .section--shadow {
    box-shadow: none;
  }
}