#nanum .chat-box {
  background-color: $chatbox-background;
  z-index: 9999;

  .fa {
    color: $chat-box-input-border;
  }

  .nav-tabs {
    margin-top: -1px;

    li {
      border: none;

      &:first-child {
        width: 45%;
      }
      &:last-child {
        width: 55%;
      }

      a {
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        color: $dark-gray;
        margin-right: 0;
        border: none;
        border-radius: 0;
        border-top: 5px solid $placeholder-color;
        background-color: $chatbox-background-1;

        &:hover {
          border: none;
          border-top: 5px solid $placeholder-color;
        }
        &:before {
          content: "";
          display: inline-block;
          background-image: url("./assets/images/icons/icon-grey-chatbox.png");
          @include size(30px 24px);
          vertical-align: middle;
        }
      }

      &.active {
        border: none;

        a {
          margin-right: 0;
          border-top: 5px solid $chat-box-input-border;
          background-color: $chatbox-background;

          &:hover {
            border: none;
            border-top: 5px solid $chat-box-input-border;
          }
          &:before {
            background-image: url("./assets/images/icons/icon-green-chatbox.png");
          }
        }

      }
    }
  }

  .tab-content{
    background-color: $chatbox-background;
  }

  .btn-send {
    @include position(absolute, null 12px 6px null);
    @include size(28px);
    border-radius: 25px;
    padding: 0;
    background-color: $chat-box-input-border;
    background-image: none;

    .fa {
      color: $white;
      &:before {
        margin-left: -2px;
      }
    }
  }

  .well {
    @include position(fixed, null 26px -21px null);
    @include size(300px 435px);
    z-index: 1;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0 -2px 20px 0 rgba(76, 76, 76, 0.45);

    @include media("<=screen-xs") {
      @include position(fixed, 76px 0 -21px 0);
      @include size(100%);
      border-radius: 0;
    }
  }

  .chat-box__title-text {
    font-size: rem(10);
    text-align: center;
    margin: 0;

    .fa-comment-o {
      font-size: rem(24);
      margin-right: 6px;
      vertical-align: middle;
    }
  }

  .chat-messages__form {
    position: fixed;
    bottom: 10px;
    max-width: 280px;
    width: 100%;
    height: 42px;
    @include margin(0 5px);
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid $chat-box-input-border;
    box-shadow: inset 0 0 0 3px $chat-box-input-shadow;
    background-color: $white;

    .form-control {
      @include size(89% 30px);
      @include margin(6px 0 0 3px);
      border: none;
      border-radius: 0;
      box-shadow: none;
      @include placeholder {
        color:$black-2;
      }

      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }

  .image-block {
    background-color: $chatbox-border;
    border: 3px solid $chatbox-border;
    border-radius: 25px;

    .img-circle {
      @include size(40px);
    }
  }

  .chat-messages {
    @include media(">=tablet") {
      @include position(relative, null null null 5px);
      width: 290px;
    }

    .block__chat-messages {
      overflow-y: scroll;
      max-height: 315px;
    }

    .chat-messages__text{
      overflow: hidden;
      @include margin(15px 5px 15px 0);
    }
    .chat-messages__user {
      overflow: hidden;
    }
  }

  .chat-messages__box {
    position: relative;
    border-radius: 25px;
    @include padding(15px 25px);
    word-break: break-all;

    &:before, &:after {
      content: " ";
      @include size(10px);
    }

    &.user {
      float: left;
      max-width: 80%;
      margin-left: 4px;
      border: 2px solid $message-border;
      background-color: $white;

      &:before {
        @include position(absolute, 18px null null -6px);
        background-color: $white;
        border-right: 2px solid $message-border;
        border-bottom: 2px solid $message-border;
        @include transform(rotate(138deg));
      }
    }
    &.supporter {
      float: right;
      background-color: $message-border-user;
      border: 2px solid $green-light-bg;
      @include margin(15px 5px 0 0);

      &:after {
        @include position(absolute, 19px -5px null null);
        background-color: $message-border-user;
        border-right: 2px solid $green-light-bg;
        border-bottom: 2px solid $green-light-bg;
        @include transform(rotate(315deg));
      }
    }
  }

  .block-alert__bg {
    @include position(fixed, 0 0 0 0);

    background-color: $black;
    opacity: .5;
    z-index: 1;

  }
  .chat-box__alert {
    .well {
      @include position(fixed, 50% 0 0 38%);
      height: 80px;
      z-index: 1;

      @include media(">screen-xs", "<=tablet") {
        @include position(fixed, 50% 0 0 30%);
      }

      @include media("<=screen-xs") {
        @include position(fixed, 50% 0 0 0);
      }
    }
  }
}

#nanum.App--mobile {
  .chat-box {
    z-index: auto;
  }

  .chat-messages__form {
    max-width: 335px;
    left: 15px;
  }

  .block__chat-messages {
    max-height: 520px;
  }
}