$dashboard-max-width: 1040px;

#nanum {
  .dashboard {
    position: relative;
    padding: 32px 120px;
  
    .container {
      width: 100%;
    }
  }
  
  .dashboard-tracking,
  .dashboard-timeSelector {
    padding: 0;
    display: flex;
  }
  
  .dashboard-search {
    margin-bottom: 0;
  }
  
  // Override bootstrap padding
  .dashboard div[class^="col"] {
    padding-left: 0;
    padding-right: 0;
  }
  
  .section > div[class^="col"] {
    padding-left: 0;
    padding-right: 0;
  }
}

#nanum.App--mobile {
  .dashboard {
    @include background-opacity($base-background-color, 0.1);
    padding: 32px 38px;
    min-height: 100vh;
  }

  .dashboard-tracking,
  .dashboard-timeSelector {
    display: block;
  }

  .dashboard-timeSelector {
    padding: 0 30px;
  }
  
  .dashboard-search {
    margin-bottom: 100px;
  }

  .dashboard div[class^="col"] {
    padding-left: 8px;
    padding-right: 8px;
  } 
}