$dashboard-max-width: 1040px;

#nanum {
  .dashboard {
    position: relative;
    padding: 32px 120px;
  
    .container {
      width: 1040px;
      margin: 0 auto;
      padding: 0;
    }
  }
  
  .dashboard-tracking {
    padding: 0;
    display: flex;
  }
  
  .dashboard-search {
    margin-bottom: 0;
  }
  
  // Override bootstrap padding
  .dashboard div[class^="col"] {
    padding-left: 0;
    padding-right: 0;
  }
  
  .section > div[class^="col"] {
    padding-left: 0;
    padding-right: 0;
  }

  .with-spacer:after {
    display: none;
  }

  .dashboard-tracking {
    min-height: 200px;
    
    & > div:first-child {
      width: 25%;
    }

    & > div:last-child {
      width: 75%;
    }
  }

  .dashboard-timeSelector.section {
    margin-bottom: 10px;
  }
}

#nanum.App--mobile {
  .dashboard {
    background-color: $white;
    padding: 32px 28px;
    min-height: 100vh;

    .container {
      width: 100%;
    }      
  }

  .dashboard-tracking,
  .dashboard-timeSelector {
    display: block;
  }

  .dashboard-tracking {
    & > div:first-child,
    & > div:last-child {
      width: initial;
    }
  }

  .dashboard-search {
    margin-bottom: 150px;
  }

  .dashboard div[class^="col"] {
    padding-left: 8px;
    padding-right: 8px;
  } 

  .with-spacer {
    position: relative;

    &:after {
      content: ' ';
      position: absolute;
      left: -15px;
      display: block;
      width: calc(100% + 30px);
      height: 14px;
      background-color: #f1f1f1;
      border: 1px solid #e6e6e6;
      z-index: 4;
    }
  }
}