$alert-width: 50px;

.diagnostic-message {
  font-family: "AppleGothic", $base-font-family;
  border: 1px solid $red;
  padding-left: $alert-width;
  border-radius: 4px;
  position: relative;
  width: 100%;

  @include media(">=desktop") {
    max-width: 580px;
  }
}

// the icon
.diagnostic-message:before {
  position: absolute;
  content: '\f071';
  font-family: 'FontAwesome';
  color: $white;
  background-color: $red;
  height: 100%;
  width: $alert-width;
  left: 0;
  // center the icon
  display: flex;
  align-items: center;
  justify-content: center;
}

// the text
.diagnostic-message p {
  padding: 12px 14px 12px 18px;
  @include background-opacity($red, 0.05);
  margin-bottom: 0;
}