#nanum {
  .food-intake {
    margin: 0 auto;
    padding: 24px 20px 20px;
    position: relative;
    max-width: 100%;
  }
  
  .food-intake__edit {
    position: absolute;
    right: 20px;
    top: 10px;
    display: inline-block;
    text-align: right;
    margin-bottom: 0;
    
    button:last-child {
      margin-left: 28px;
    }
  }
  
  .food-intake__meals {
    background-color: $white-gray;
    border-radius: 10px;
    padding: 0 32px;
    margin: 0;
    
    .row {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

#nanum.App--mobile {
  .food-intake {
    padding-right: 0;
    padding-left: 0;
    max-width: none;
  }

  .food-intake__edit {
    display: block;
    position: relative;
    margin-bottom: 8px;
    right: auto;
    top: auto;
  }

  .food-intake__meals {
    margin: 0 20px;
    padding: 0;
  }    
}  