#nanum {
  .food-suggestion {
    position: relative;
    z-index: 0;
    display: flex;
    padding: 24px 28px 30px;
    overflow-x: hidden;
  }
  
  .food-suggestion__reason {
    color: $black;
    letter-spacing: normal;
    flex-shrink: 0;
    max-width: 116px;
    margin-right: 48px;    
    margin-bottom: 0;

    h3, p {
      font-size: ms(-1);
      font-weight: 700;
    }

    h3 {
      margin-bottom: 30px;
    }

    p {
      line-height: 16px;
    }
  }
}

#nanum.App--mobile {
  .food-suggestion {
    padding-left: 0;
    padding-right: 0;
    display: block;
  }    

  .food-suggestion__reason {
    flex-shrink: 1;
    max-width: none;
    padding-top: 20px;
    margin-right: 0;
    margin-bottom: 14px;

    h3 {
      font-size: ms(1);
      font-weight: 700;
      margin-bottom: 10px;
    }
  
    p {
      font-size: ms(0);
      font-weight: 400;
    }
  }    
}