#nanum .product {

  .col-md-7, .col-md-5 {
      padding: 0;
  }

  .product__detail {
    .row {
      margin: 0;
    }

    div[class*="col"] {
      padding: 0;
    }
  }

  .visible-xs {
    margin-left: 15px;
    margin-right: 15px;
  }

  .product-detail__wrapper {
    @include padding(15px 75px 38px);
  }

  .product__image {
    width: 100%;
  }

  .product__title {
    font-size: 36px;
    line-height: 48px;
    word-spacing: 4px;
  }

  .product__kcal {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin-top: 5px;

    strong {
      font-family: $base-font-family;
    }
  }

  .small__title {
    font-weight: bold;
  }

  .kcalLevel__title, 
  .btn-view-haccp, 
  .small__title {
    font-size: 12px;
  }

  .product__foodInfo {
    background-color: $green-light-bg;
    border: 1px solid $chat-box-input-border;
    border-radius: 15px;
    @include margin(15px 0 25px);
    @include padding(15px 20px);
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: #4e5665;
  }

  .product__kcalLevel {
    border-bottom: 1px solid $lesser-gray;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    
    .kcalLevel__number {
      font-size: 34px;
    }

    .kcalLevel__title {
      color: $gray;
      font-weight: bold;
    }

    .btn-view-haccp {
      margin-top: 20px;
      min-height: 34px;
      border: 2px solid $chat-box-input-border;
      border-radius: 5px;
      background-image: none;
      background-color: $white;
      font-weight: bold;
    }
  }

  .product__kcalLevel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }    

  .food-carousel {
    .food-carousel__title {
      font-size: 16px;
      color: $gray;
      margin-top: 20px;
      margin-bottom: 20px;

      .arrow-icon {
        display: inline-block;
        @include size(19px 18px);
        margin-left: 5px;
        background: url("./assets/images/icons/icon-arrow-green.png") center no-repeat;
        vertical-align: middle;
      }
    }
    .food-carousel__item {
      margin-bottom: 15px;
    }
  }
}

#nanum.App--mobile {
  .product-detail__wrapper {
    @include padding(15px 45px 20px);
  } 

  .product__image {
    margin-top: -10px;
  }    

  .product__title {
    @include position(absolute, -160px null null null);
    color: $white;
    font-weight: bold;
  }    

  .product__kcalLevel {
    flex-wrap: wrap;
  }    

  .product__kcalLevel-item {
    flex: 1;

    &:last-child {
      flex: 3;
    }
  }    
}