#nanum .food-intake__progress {
  position: relative;
  margin: 0 20px 14px;

  .progress {
    flex: 1;
    max-height: 8px;
  }

  @include media(">=desktop") {
    display: flex;
    align-items: center;
    padding-left: 32px;
    margin: 0 0 10px 0;
  }
}

#nanum .food-intake__progress-heading {
  display: inline-block;
  margin-bottom: 6px;

  @include media(">=desktop") {
    margin-right: 18px;
  }
}
  
#nanum .food-intake__progress-heading > .target,
#nanum .food-intake__progress-heading > .current {
  text-align: center;
  font-size: ms(-1);
  line-height: 1.33;
  font-weight: 400;
}  

#nanum .food-intake__progress-heading > .target {
  color: $black;
}

#nanum .food-intake__progress-heading > .current {
  color: $gray;
}  


