#nanum .food-suggestion {
  padding: 24px 28px 30px;
  overflow-x: hidden;
  
  @include media(">=desktop") {
    display: flex;
  }
}

#nanum .food-suggestion__reason {
  color: $black;
  letter-spacing: normal;
  margin-bottom: 14px;

  h3 {
    font-size: ms(1);
    font-weight: 700;
  }

  p {
    font-size: ms(0);
    font-weight: 400;
  }

  @include media(">=desktop") {
    flex-shrink: 0;
    max-width: 116px;
    margin-right: 48px;    
    margin-bottom: 0;

    h3, p {
      font-size: ms(-1);
      font-weight: 700;
    }
  }
}