.food-suggestions {
  padding: 24px 20px 30px;
  overflow-x: hidden;
  
  @include media(">=desktop") {
    display: flex;
  }
}

.food-suggestions__reason {
  color: $black;
  font-size: ms(0);
  font-weight: 400;

  @include media(">=desktop") {
    flex-shrink: 0;
    max-width: 74px;
    margin-right: 48px;    
  }
}