#nanum .food-intake {
  margin: 0 auto;
  padding: 24px 0 20px;
  position: relative;

  @include media(">=tablet") {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

#nanum .food-intake__edit {
  display: block;
  text-align: right;
  margin-bottom: 8px;

  button:last-child {
    margin-left: 28px;
  }

  @include media(">=desktop") {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
    margin-bottom: 0;
  }
}

#nanum .food-intake__meals {
  background-color: $white-gray;
  margin: 0 20px;
  border-radius: 10px;

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  @include media(">=netbook") {
    padding: 0 32px;
  }

  @include media(">=desktop") {
    margin: 0;
  }
}