#nanum {
  // Slider
  .food-suggestion-slider {
    position: relative;
  }

  // Carousel dots
  .food-suggestion__carousel .slick-dots {
    text-align: left;
    display: flex;
    bottom: -14px;

    li {
      background-color: #96b647;
      opacity: 0;
      height: 3px;
      margin: 0;
      border-radius: 5px;
      transition: opacity .3s ease;

      button {
        width: auto;
        height: auto;
        padding: 0;
      }

      button:before {
        display: none;
      }
    }

    li.slick-active {
      opacity: 1;
    }
  }

  // limit the width
  .food-suggestion__carousel {
    max-width: 820px;
  }

  // arrows 
  .food-suggestion__carousel .carousel-arrow {
    width: 66px;
    height: 66px;
    z-index: 3;

    &:before {
      display: none;
    }

    &.carousel-arrow--prev {
      left: -45px;
    }

    &.carousel-arrow--next {
      right: -45px;
    }
  }
}

#nanum.App--mobile {
  .food-suggestion__carousel:after {
    display: block;
  }      

  // Blurred overlay
  .food-suggestion__carousel {
    position: relative;

    &:after {
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      content: ' ';
      display: block;
      width: 60px;
      height: 100%;
      background-image: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0.1));
    }
  }
}