#nanum {
  .food-intake-list {
    display: flex;  
    padding: 20px 0;
  }
  
  .food-intake-list__heading {
    flex-shrink: 0;
    font-size: ms(0);
    color: #313541;
    font-weight: 500;
    margin: 0;
    margin-right: 16px;
  }
  
  .food-intake-list__content {
    padding-bottom: 12px;
    border-bottom: none;
    width: 100%;
  }
}

#nanum.App--mobile {
  .food-intake-list__content {
    border-bottom: 1px solid #d0d2d3;
  }    
}
