#nanum {
  .food-intake__progress {
    display: flex;
    align-items: center;
    padding-left: 32px;
    margin: 0 0 10px 0;

    .progress {
      flex: 1;
      max-height: 8px;
    }
  }
  
  .food-intake__progress-heading {
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 18px;
  }
    
  .food-intake__progress-heading > .target,
  .food-intake__progress-heading > .current {
    text-align: center;
    font-size: ms(-1);
    line-height: 1.33;
    font-weight: 400;
  }  
  
  .food-intake__progress-heading > .target {
    color: $black;
  }
  
  .food-intake__progress-heading > .current {
    color: $gray;
  }
}

#nanum.App--mobile {
  .food-intake__progress {
    position: relative;
    display: block;
    margin: 0 20px 14px;
    padding: 0;
  }

  .food-intake__progress-heading {
    margin-right: 0;
  }    
}