#nanum {
  .dashboard .food-search__box {
    padding-bottom: 0;
  }

  .food-search__box {
    padding: 50px 0 28px;
    text-align: center;
    color: $dark-gray;
  }
  
  // themes
  .food-search__box--dark {
    @include background-opacity($lesser-gray, .1);
  }
  
  .food-search__total {
    text-align: center;
    margin: 38px 0 0;
    
    .content {
      display: inline-block;
      margin: 0 auto;
      text-decoration: none;
      box-shadow: inset 0 0px 0 white, inset 0 -1px 0 $dark-gray;
    }

    span {
      font-size: ms(0);
    }
  
    span:first-child,
    span:last-child {
      font-size: ms(3);
      font-weight: 700;
    }
  }
  
  .add-food-form .Select-menu-outer {
    width: calc(100% - 52px);
    width: 100%;
  }
}


#nanum.App--mobile {
  .food-search .food-search__box {
    width: 268px;
    padding-top: 18px;
    margin: 0 auto;
  }

  .food-search__total {
    margin-bottom: 12px;
  }    

  .food-search__box {
    padding: 0;
  }

  .add-food-form .Select-menu-outer {
    width: calc(100% - 52px);
  }
}
