.food-search__box {
  padding: 45px 0 28px;
  text-align: center;
  color: $dark-gray;
}

// themes
.food-search__box--dark {
  @include background-opacity($lesser-gray, .1);
}

.food-search__total {
  text-align: center;
  text-decoration: underline;
  margin: 38px 0 0;

  span {
    font-size: ms(0);
  }

  span:first-child,
  span:last-child {
    font-size: ms(3);
    font-weight: 700;
  }
}