#nanum { 
  .ingredients-chart {
    max-width: 500px;
    width: 100%;
    height: 360px;
  }

  .ingredients-chart-tooltip {
    background-color: $black-2;
    border-radius: 5px;
    padding: 6px;
    color: $white;
    font-size: 14px;
    font-weight: 700;

    span {
      display: inline-block;
    }
  }

  .ingredients-chart-tooltip__name {
    margin-right: 4px;
  }

  .ingredients-chart-tooltip__value {
    font-size: 12px;
    border-radius: 50%;
    background-color: $green-1;
    padding: 4px;
  }
}

#nanum.App--mobile {
  .ingredients-chart {
    width: 100%;
  }
}