#nanum {
  .no-info {
    position: relative;
    z-index: 3;
  }

  .no-info__message,
  .no-info__overlay {
    position: absolute;
  }  
    
  .no-info__message {
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #40975b;
    font-size: 20px;
    text-align: center;
    z-index: 3;

    p {
      display: inline-block;
      text-decoration: underline;
      font-weight: 700;
    }
  }

  .no-info__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    @include background-opacity($white, .9);
  }
}

#nanum.App--mobile {
  .no-info p {
    max-width: 220px;
  }
}  