#nanum {
  .nutrition-log-chart {
    max-width: 500px;
    padding-top: 20px;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nutrition-log-chart .recharts-responsive-container {
    height: 210px !important;
  }

  .nutrition-log-chart-tooltip {
    color: $black-2;
    font-weight: 700;
    background-color: $white;
    border-radius: 5px;
    padding: 5px;
  }

  .nutrition-log-chart__date {
    position: relative;
    padding-left: 14px;
    margin-left: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #292929;
    font-size: 10px;
    text-align: right;

    &:before {
      position: absolute;
      display: block;
      color: #ffc80a;
      right: 85px;
      content: '\f073';
      font-family: 'FontAwesome';
      line-height: 10px;
      width: 14px;
      height: 14px;
    }
  }

  .nutrition-log-chart__title {
    position: absolute;

    &.first {
      left: 15px;
      top: 20px;
    }

    &.second {
      font-size: 14px;
      top: 45px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .nutrition-log-chart__recap {
    display: flex;
    margin: 0 auto;
  }

  .recap-item {
    color: #212121;
    text-align: center;
    margin-right: 10px;

    p {
      margin-bottom: 0;
    }

    p:first-child {
      font-size: 30px;
      font-weight: 600;
      line-height: 48px;
    }

    p:last-child {
      font-size: 10px;
      font-weight: 700;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  p.protein {
    color: #f8ac39;
  }

  p.sodium {
    color: #e66e65;
  }

  p.potassium {
    color: #69c7d6;
  }
}

#nanum.App--mobile {
  .nutrition-log-chart {
    width: 100%;
  }

  .nutrition-log-chart__title.first {
    font-size: 14px;
  }

  .nutrition-log-chart__title.second {
    font-size: 10px;
  }

}
