#nanum {
  .search-form {
    margin-bottom: 0;
    display: inline-block;
  }
  
  .search-form {
    position: relative;
  
    .search-form__input {
      width: 500px;
      max-width: initial;
      padding: 24px 20px;
      border: 1px solid $green;
      border-radius: 3px;
      color: $dark-gray;
      font-size: ms(4);
    }
  
    .search-form__submit {
      position: absolute;
      right: 30px;
      top: 50%;
      width: 30px;
      height: 30px;
      transform: translateY(-50%);
      border: none;
      box-shadow: none;
      padding: 0;
      background-image: url("./assets/images/icons/search.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

#nanum.App--mobile {
  .search-form {
    margin: 0 auto;
    display: block;    
  }    

  .search-form__input {
    width: 100%;
    max-width: 268px;
    padding: 6px 14px;
    font-size: ms(1);
  }    

  .search-form__submit {
    width: 20px;
    height: 20px;
  }    
}