#nanum {
  $normal-height: 320px;
  
  .search-result-item {
    position: relative;
  }
  
  .search-result-item__image {
    position: relative;
    transition: min-height .3s ease;
    text-align: center;
  
    img {
      width: 100%;
      max-height: $normal-height;
      transition: max-height .3s ease;
    }
  }
  
  .search-result-item__content {
    position: absolute;
    bottom: 18px;
    left: 28px;
    max-width: 264px;
  
    h3, h4 {
      color: $white;
    }
  }
  
  .search-result-item__flavor,
  .search-result-item__name {
    font-size: ms(8);
    font-weight: 700;
  }  
    
  .search-result-item__name {
    margin-bottom: 24px;
  
    a {
      color: $white;
    }
  }
  
  .search-result-item__manufacturer {
    font-size: ms(-3)
  }
  
  // Blurry Overlay
  .search-result-item {
    position: relative; 
    z-index: 1;
  
    &:after {
      position: absolute;
      display: block;
      content: ' ';
      @include background-opacity($white, 0.6);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: background-color .3s ease;
    }
  
    &:hover .search-result-item__button {
      display: inline-block;
    }
  
    &:hover:after {
      background: transparent;
      z-index: -1;
    }
  
  }
  
  // Positioning button
  .search-result-item__button {
    display: none;
    position: absolute;
    bottom: 18px;
    right: 20px;
  }
}

#nanum.App--mobile {
  .search-result-item:after {
    display: none;
  }    

  .search-result-item__image img {
    max-width: 320px;
  }    
}