.search-result-item {
  position: relative;
}

.search-result-item__image {
  min-height: 320px;
}

.search-result-item__content {
  position: absolute;
  bottom: 18px;
  left: 28px;

  h3, h4 {
    color: $white;
  }
}

.search-result-item__flavor,
.search-result-item__name {
  font-size: ms(8);
  font-weight: 700;
}  
  
.search-result-item__flavor {
  margin-bottom: 0;
}

.search-result-item__name {
  margin-bottom: 24px;
}

.search-result-item__where {
  font-size: ms(-3);
}