.search-form {
  margin: 0 auto;
  margin-bottom: 36px;
  display: inline-block;

  @include media(">=desktop") {
    margin-bottom: 0;
  }
}

.search-form form {
  position: relative;

  .search-form__input {
    min-width: 532px;
    padding: 24px 20px;
    border: 1px solid $green;
    border-radius: 3px;
    color: $lesser-gray;
    font-size: ms(4);
  }

  .search-form__submit {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: none;
    box-shadow: none;
    padding: 0;
    background-image: url("./assets/images/icons/search.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}