#nanum {
  .service-intro {
    font-size: 16px;
    font-weight: bold;
    color: $gray-1;
    line-height: 30px;
    text-align: center;
    padding-top: 60px;
  
    p {
      max-width: 868px;
      margin-right: auto;
      margin-left: auto;

      &.paragraph {
        margin-bottom: 24px;
      }
    }
  
    .button-green {
      font-size: 18px;
      font-weight: bold;
      color: $black-1;
      margin-bottom: 36px;
      padding: 16px 36px;
      min-width: 234px;
      background-image: none;
      border: 2px solid $chat-box-input-border;
      border-radius: 88px;
    }
  }

  .service-intro__info, 
  .service-image__intro {
    max-width: 992px;
    width: 100%;
    margin: 0 auto;
  }

  .service-intro__info {
    @include media("<=tablet") {
      padding: 0 40px;
    }
  }

  .service-intro__image {
    padding: 0 15px;

    .service-intro__title, p {
      @include media("<=tablet") {
        padding: 0 25px;
      }
    }
  }

  .middle-paragraph {
    margin: 0 auto 20px;
  }

  .service-intro__title {
    font-size: 26px;
    font-weight: bold;
    max-width: 692px;
    color: $chat-box-input-border;
    line-height: 40px;
    margin: 30px auto 40px;
  }

  .service-info__box {
    font-size: 16px;
    max-width: 810px;
    border: 1px solid $chat-box-input-border;
    border-radius: 15px;
    color: $green-1;
    background-color: $service-box-bg;
    margin-bottom: 24px;
    padding: 16px;
    
    @include media("<=tablet") {
      margin: 0 -20px;
    }
  }

  .service-intro__image {
    position: relative;

    .service-green__bg {
      @include position(absolute, 0 0 0 0);
      background-color: $service-green-bg;
      max-height: 140px;
      z-index: -1;

      @include media(">=tablet") {
        max-height: 404px;
      }
    }
  }

  .service-image__intro {
    padding: 30px 0;

    @include media(">=screen-md") {
      padding: 40px 0;
    }

    .service-image__block {
      float: left;
      width: 44%;
      margin: 0 3% 4%;
    }
    .img-responsive {
      width: 100%;
    }
  }
}
