#nanum {
  .tagbox {
    background-color: $white;
    border: 1px solid $light-gray;
    border-radius: 4px;
    padding: 12px 10px 12px 14px;
    margin-right: 10px;
    margin-bottom: 10px;
  
    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
  
  .tagbox__text {
    padding-right: 20px;
  }
  
  .tagbox__close {
    color: $lesser-gray;
  }
}