#nanum {
  .tagbox {
    background-color: $white;
    border: 1px solid $light-gray;
    border-radius: 4px;
    padding: 12px 28px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    cursor: default;
  
    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}